parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\ProjectManager
	- App\Model\UserManager
	- App\Model\PrVsUsManager
	- App\Components\IProjectControlFactory
	router: App\RouterFactory::createRouter
